* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    .cursor-pointer {
        cursor: pointer;
    }

    nav {
        height: 70px;

        ul {
            li:hover {
                background-color: rgb(241, 241, 241);
            }

            li svg {
                transition: all 0.3s ease-in-out;
                transform-origin: 4.5px 6px;
            }

            // li:hover svg {
            //     transform: rotate(180deg);
            // }
        }

        .login {
            a:last-child {
                background-color: rgb(71, 63, 244);
            }

            a:last-child:hover {
                background-color: rgb(50, 44, 181);
            }
        }

        .bi-list {
            display: none;
        }
    }

    @media(max-width:1000px) {
        nav {
            .ul {
                background-color: #da1a1a;
                display: none !important;
            }

            .login {
                display: none;
            }

            .bi-list {
                display: block;
                cursor: pointer;
            }
        }
    }

    .login2 {
        overflow-y: auto;
        max-height: 100vh;
        height: 100vh;
        transition: all 0.5s ease-in-out;

        .accordion1 {
            width: 100vw;
            transition: all 0.3s ease-in-out;

            .myshow {
                left: 0;
                opacity: 0.5 !important;
                background-color: #fff !important;
            }

            button svg {
                transition: all 0.3s ease-in-out;
            }

            .rotate90 {
                transform: rotate(90deg);
            }

        }
    }

    .myclose {
        transform: translateX(-100%);
        opacity: 0;
    }



    .navResearch:hover .Research {
        transform: translateY(0);
    }
    .rotate180{
        transform: rotate(180deg);
    }

    .Research,
    .Studios {
        z-index: 1000;
        margin-top: 70px !important;
        transition: all 0.5s;
        transform: translateY(-100%);
        transition-timing-function: cubic-bezier(.96, 0, 0, .99);
        background: radial-gradient(circle at 0% 0%, rgb(187,219,244) 30%,rgb(233,236,240) 50%,rgb(242,203,226) 100%);

        .row {
            .row {
                a {
                    transition: all 0.3s ease-in-out;
                    transform: translateX(-27px);

                    svg {
                        opacity: 0;
                        fill: black;
                        transition: all 0.3s ease-in-out;
                    }
                }

                a:hover {
                    transform: translateX(0px);
                    opacity: 1;
                    color: rgb(82, 75, 244);

                    svg {
                        opacity: 1;
                        fill: rgb(82, 75, 244);
                    }
                }
            }
        }
    }


    .Product,
    .Company {
        z-index: 1000;
        margin-top: 70px !important;
        transition: all 0.5s;
        transform: translateY(-100%);
        transition-timing-function: cubic-bezier(.96, 0, 0, .99);
        background: radial-gradient(circle at 0% 0%, rgb(187,219,244) 30%,rgb(233,236,240) 50%,rgb(242,203,226) 100%);

        .middle,
        .right {
            a {
                transition: all 0.3s ease-in-out;
                transform: translateX(-27px);

                svg {
                    opacity: 0;
                    fill: black;
                    transition: all 0.3s ease-in-out;
                }
            }

            a:hover {
                transform: translateX(0px);
                opacity: 1;
                color: rgb(82, 75, 244);

                svg {
                    opacity: 1;
                    fill: rgb(82, 75, 244);
                }

                .spicalSvg {
                    fill: black
                }
            }
        }
    }

    .content {
        transform: translateX(-30px);
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    .delay-200 {
        transition-delay: 0.2s;
    }

    .delay-400 {
        transition-delay: 0.4s;
    }

    .delay-600 {
        transition-delay: 0.6s;
    }
    .finish{
        transition: all 0s 0.4s !important;
    }
    .navContentShow {
        transform: translateX(0);
        opacity: 1;
    }

    .navShow {
        transform: translateY(0);
    }

    @media(max-width:1200px) {

        .Research,
        .Product,
        .Studios,
        .Company {
            padding-left: 50px !important;
        }
    }

    .Pricing-Plans {
        margin-top: 70px;

        h1 {
            padding-top: 6rem;
            font-size: calc(3rem + 4vw);
        }

        .vip {
            width: 420px;
            position: relative;

            .monthly {
                color: white;
                z-index: 15;
            }

            .annual {
                z-index: 15;

                span:first-child {
                    color: black;
                }

                span:last-child {
                    color: rgb(71, 63, 244);
                }
            }

            .animate {
                z-index: 10;
                position: absolute;
                top: 5%;
                left: 0.5%;
                height: 90%;
                transition: all 0.3s;
                // transform: translateX(97.5%);
            }
        }

        @media(max-width:768px) {
            h1 {
                padding-top: 65px;
                font-size: 50px;
            }

            .vip {
                width: 320px;
            }
        }
    }

    .main {
        background-color: rgb(226, 226, 227);
        margin-top: 70px;

        .body {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;

            @media(max-width: 1400px) {
                grid-template-columns: repeat(4, 1fr);
            }

            @media(max-width: 1125px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media(max-width: 820px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .everything,
    .trusted {
        a:hover {
            background-color: #000000 !important;
        }

        @media(max-width:1125px) {
            text-align: center;
        }
    }

    .window {
        .img {
            transform: translateX(0px);
            animation: animate 40s linear infinite;
        }

        .move {
            transform: translateX(-1658px);
        }

        @keyframes animate {
            0%{
                transform: translateX(0);
            }
            100%{
                transform: translateX(-1658px);
            }
        }
    }

    .footer1 {
        padding-top: 190px;
        display: grid;
        grid-template-columns: 1fr 5fr;

        .ul {
            display: grid;
            grid-template-columns: repeat(5, 1fr);

            li {
                a {
                    color: rgb(150, 150, 150);
                    text-decoration: none;
                }

                a:hover {
                    color: white;
                }
            }
        }

        @media(max-width:1125px) {
            display: flex;
            flex-direction: column;
            // grid-template-columns: repeat(5, 1fr);
            .ul {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
            }
        }
        @media(max-width:820px){
            display: none !important;
        }
    }
    .accordion2{
        svg{
            transition: all 0.3s ease-in-out;
        }
        .myshow{
            left: 0;
            opacity: 0.5 !important;
            background-color: #fff !important;
        }
        .rotate180{
            transform: rotate(180deg);
        }
    }
    @media(min-width:821px){
        .accordion2{
            display: none;
        }
    }

    .footer2{
        height: 140px;
        position: relative;
        background-color: rgb(118,31,227);
        display: grid;
        grid-template-columns: 200px 150px 150px 150px;
        p{
            display: inline-block;
        }
        img{
            position: absolute;
            right: 20px;
            bottom: 50%;
            transform: translateY(50%);
        }
        svg{
            display: none;
        }
        a:hover{
            color: white !important;
        }
        @media(max-width:820px){
            padding-top: 30px;
            display: block;
            height: 325px;
            p{
                position: absolute;
                left: 25px;
                bottom: 70px;
            }
            .a{
                margin-left: 20px;
                display: block;
                width: 140px;
            }
            img{
                position: absolute;
                right: 20px;
                bottom: 20px;
                transform: translateY(0%);
        }
            svg{
                display: block;
                position: absolute;
                left: 25px;
                bottom: 25px;
            }
        }
    }
    
    .mask{
        z-index: 100;
        width: 100px;
        height: 100px;
        transition: all 0.5s ease-in-out;
        visibility: hidden;
    }
    .blur{
        visibility: visible;
        backdrop-filter: blur(10px);
    }
}